
<div class="topsquare">
	<h1> Aanaya's First Birthday Party </h1>
	<h2> 
		<ul>
			<li>4th December 2016</li> 
			<li>4:00pm</li>
			<li>6020 Yucca Lane N, Plymouth 55446</li>
		</ul>
	</h2>
</div>

<div class="birthday">
<%= form_for :guest, url: guests_path do |f| %>
	
<% if @guest.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@guest.errors.count, "error") %> prohibited
        this guest from being saved:
      </h2>
      <ul>
        <% @guest.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
	
		<!-- <%= f.label :name %> -->
		<%= f.text_field :name, placeholder: "Name" %>
	<br><br>
	
	
		<!-- <%= f.label :email %>  -->
		<%= f.text_field :email, placeholder: "Email" %>
	<br><br>
	
	
		<%= f.radio_button(:attend, "willattend") %>
		<%= f.label(:attend_willattend, "I will attend!!!") %>
		<br>
		<%= f.radio_button(:attend, "raincheck") %>
		<%= f.label(:attend_raincheck, "Raincheck???") %>
		
	<br><br>
	
	

		<!-- <%= f.label :adult, "No of Adults - " %>  -->
		<%= f.number_field :adult, placeholder: "No of Adults (Please include yourself)" %> <br><br>
		<!-- <%= f.label :child, "No of kids - " %>  -->
		<%= f.number_field :child, placeholder: "No of Kids" %><br>

	<br>
		
		<%= f.submit %>
	<br><br>
	
<% end %>

<!-- <%= link_to 'List all guests', guests_path %>	-->	
</div>